<form
  [formGroup]="userForm"
  class="w-12 {{
    isProfile ? 'h-screen' : ''
  }} flex justify-content-center align-items-center"
  (ngSubmit)="onSubmit()"
>
  <div
    class="flex flex-column w-9 md:w-4 {{
      isProfile ? 'h-full' : isSignIn ? 'h-20rem' : 'h-25rem'
    }} justify-content-evenly"
  >
    @if (isProfile ) {
    <img
      [src]="getControl('avatar').value"
      class="border-circle w-6rem h-6rem align-self-center"
    />
    } @if (!isSignIn) {
    <app-input
      [control]="getControl('name')"
      inputType="text"
      label="Name"
    ></app-input>
    @if (isProfile) {<app-input
      [control]="getControl('avatar')"
      inputType="text"
      label="Avatar Link"
    ></app-input
    >} }

    <app-input
      [control]="getControl('email')"
      inputType="email"
      label="Email"
    ></app-input>

    <app-input
      [control]="getControl('password')"
      [inputType]="isProfile ? 'text' : 'password'"
      label="Password"
    ></app-input>
    <div class="relalative">
      @if (userForm.errors?.['credentials']) {
      <p class="pl-3 text-red-500 text-sm absolute">{{ formError }}</p>
      }
    </div>

    <button
      type="submit"
      pButton
      [disabled]="isSignIn ? false : userForm.invalid"
    >
      {{ buttonName }}
    </button>
    @if (isSignIn) {
    <a routerLink="/signup" class="no-underline text-color"
      >Doesn't have an account?</a
    >
    } @else if(!isProfile) {
    <a routerLink="/signin" class="no-underline text-color"
      >Already have an account?</a
    >
    }
  </div>
</form>
