<div
  class="w-12 h-5rem flex flex-column align-items-center justify-content-around sticky top-0 bg-primary-reverse z-1 mt-4"
>
  <div class="w-6 flex justify-content-around align-items-center">
    <a
      class="no-underline text-4xl text-color pi pi-linkedin"
      href="https://www.linkedin.com/in/ali-al-guadeb/"
      target="_blank"
    ></a>
    <a
      class="no-underline text-4xl text-color pi pi-github"
      href="https://github.com/Ali7U"
      target="_blank"
    ></a>
  </div>

  <div>
    <a (click)="scrollToTop()" routerLink="about" class="text-color no-underline"
      >&copy; 2025 Ali Al-Guadeb.</a
    >
  </div>
</div>
